<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:text-decoration="http://www.w3.org/1999/xhtml" xmlns:max-width="http://www.w3.org/1999/xhtml"
      xmlns:margin="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Admin panel</title>
</head>
<body>
<style>
    .a {text-decoration: none;}
    .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {background-color: #17A2B8; color: white;}
    .a {background-color: transparent;}
    .my-main-container {
        margin-top: 0%;
        margin-left: -1%;
        margin-right: 0%;
    }
    .my-menu-container {
        margin-top: 0%;
        margin-left: -5.5%;
        margin-right: -11%;
    }
</style>



<!-- "Навигационная" панель -->
<nav class="navbar navbar-dark navbar-expand-md text-white text-bg-dark py-3" id="navigationPanel">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center"><span>
            <b><a id="authUserEmail"></a></b>
            <a>&nbsp;with roles:&nbsp;</a>
            <a id="authUserRoles"></a>
            </span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2"></button>
        <div id="navcol-2" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Разметка страницы -->
<div class="container-fluid">
    <div class="row">

        <!-- Колонка меню -->
        <div class="col-md-2">
            <br>
            <!-- Кнопки меню -->
            <div class="d-grid gap-2 my-menu-container">
                <div class="nav nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active text-start" id="admin-tab" data-bs-toggle="pill" data-bs-target="#admin" type="button" role="tab" aria-controls="admin" aria-selected="true">Admin</button>
                    <button class="nav-link text-start" id="user-tab" data-bs-toggle="pill" data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="false">User</button>
                </div>
            </div>
        </div>

        <!-- Колонка с данными -->
        <div class="col-md-10">
            <!-- Заливка светло-серым -->
            <div class="text-bg-light p-3">
            <!-- Контент по Tabs -->
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Контент по кнопке Admin -->
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab" tabindex="0">
                    <h1>Admin panel</h1>
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" id="tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="users-table" data-bs-toggle="tab" data-bs-target="#users-table-pane" type="button" role="tab" aria-controls="users-table-pane" aria-selected="true">Users table</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="new-user" data-bs-toggle="tab" data-bs-target="#new-user-pane" type="button" role="tab" aria-controls="new-user-pane" aria-selected="false">New user</button>
                        </li>
                    </ul>
                    <!-- Tabs content -->
                    <div class="tab-content" id="TabContent">
                        <!-- Users table -->
                        <div class="tab-pane fade show active" id="users-table-pane" role="tabpanel" aria-labelledby="users-table" tabindex="0">
                            <div class="tab-content" id="allUsersTabContent">
                                <!-- Таблица для тела вкладки -->
                                <div class="container-fluid my-main-container">
                                <table class="table table-bordered">
                                    <thead>
                                    <th scope="col"><div class="container-fluid"><h5>All users</h5></div></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="table table-striped">
                                            <!-- Таблица юзеров -->
                                            <div class="container">
                                                <table class="table table-striped" id="allUsersTable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="allUsersTableBody">
                                                    <!-- Delete User Modal -->
                                                    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!-- Modal Header -->
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="deleteModalLabel">Delete user</h4>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                </div>
                                                                <!-- Modal body  -->
                                                                <div class="modal-body">
                                                                    <div align="center">
                                                                        <form id="deleteUserForm">
                                                                            <label><strong>ID</strong></label>
                                                                            <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                   id="deleteUserId" disabled/>
                                                                            <br>
                                                                            <label><strong>Username</strong></label>
                                                                            <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                   id="deleteUseUsername"disabled/>
                                                                            <br>
                                                                            <label><strong>Password</strong></label>
                                                                            <input type="password" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                   id="deleteUserPassword" disabled/>
                                                                            <br>
                                                                            <label><strong>Email</strong></label>
                                                                            <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                   id="deleteUserEmail" disabled/>
                                                                            <br>
                                                                            <label class="col-sm-2 col-form-label"><strong>Role</strong></label>
                                                                            <select class="form-select" size="2" multiple aria-label="multiple select example"
                                                                                    style="max-width: 200px; margin: 0 auto" disabled
                                                                                    id="deleteUserRoles">
                                                                            </select>

                                                                <!-- Modal footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" id="closeDeleteUserFormButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" id="submitDeleteUserFormButton" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                                                </div>
                                                                </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </tbody>

                                                <!-- Edit User Modal -->
                                                <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="modal-body text-center">
                                                                <form id="editUserForm">
                                                                    <label><strong>ID</strong></label>
                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                           id="editUserId" disabled/>
                                                                    <br>
                                                                    <label><strong>Username</strong></label>
                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                           id="editUserUsername"/>
                                                                    <br>
                                                                    <label><strong>Password</strong></label>
                                                                    <input type="password" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                           id="editUserPassword"/>
                                                                    <br>
                                                                    <label><strong>Email</strong></label>
                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                           id="editUserEmail"/>
                                                                    <br>
                                                                    <label class="col-sm-2 col-form-label"><strong>Role</strong></label>
                                                                    <select class="form-select" size="2" multiple aria-label="multiple select"
                                                                            id="editUserRoles" name="roles" style="max-width: 200px; margin: 0 auto">
                                                                    </select>
                                                                    <!-- Modal footer -->
                                                                    <div class="modal-footer">
                                                                        <button type="button" id="closeEditUserFormButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                        <button type="submit" id="submitEditUserFormButton" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>

                        <!-- New user -->
                        <div class="tab-pane fade show" id="new-user-pane" role="tabpanel" aria-labelledby="new-user" tabindex="0">
                            <div class="tab-content" id="newUserTabContent">
                                <!-- "Таблица" для всей информации -->
                                <div class="container-fluid my-main-container">
                                    <table class="table table-bordered">
                                        <thead>
                                        <th scope="col"><div class="container-fluid"><h5>Add new user</h5></div></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="table table-bordered">
                                                <div class="container-fluid" id="newUserTable">
                                                    <div align="center">
                                                    <form id="newUserForm">
                                                        <label><strong>Username</strong></label>
                                                        <input type="text" class="form-control form-control-sm" placeholder="2-30 characters" style="max-width: 300px; margin: 0 auto"
                                                               name="username" id="newUsername" required/>
                                                        <br>
                                                        <label><strong>Email</strong></label>
                                                        <input type="text" class="form-control form-control-sm" placeholder="Example: name@gmail.com" style="max-width: 300px; margin: 0 auto"
                                                               name="email" id="newEmail" required/>
                                                        <br>
                                                        <label><strong>Password</strong></label>
                                                        <input type="password" class="form-control form-control-sm" placeholder="Min 8 characters" style="max-width: 300px; margin: 0 auto"
                                                               name="password" id="newPassword" required/>
                                                        <br>
                                                        <label class="col-sm-2 col-form-label"><strong>Role</strong></label>
                                                        <select class="form-select" name="rolesNew" id="newUserRoles" size="2" multiple aria-label="multiple select example"
                                                                style="max-width: 300px; margin: 0 auto">
                                                        </select>
                                                        <br>
                                                        <input type="submit" id="submitNewUserButton" class="btn btn-success" value="Add new user"/>
                                                    </form>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <!-- Контент по кнопке User -->
                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
                    <h1>User information-page</h1>
                    <!-- Таблица для тела вкладки -->
                    <div class="container-fluid my-main-container">
                        <table class="table table-bordered">
                            <thead>
                            <th scope="col"><div class="container-fluid"><h5>About user</h5></div></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table table-bordered">
                                    <!-- Таблица пользователя -->
                                    <div class="container">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody id="userProfileTableBody">
                                            </tbody>
                                        </table>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="script.js"></script>
</body>
</html>
