<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:text-decoration="http://www.w3.org/1999/xhtml" xmlns:max-width="http://www.w3.org/1999/xhtml"
      xmlns:margin="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <title>Admin panel</title></head>
<body>

<style>
    .a {text-decoration: none;}
    .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {background-color: #17A2B8; color: white;}
    .a {background-color: transparent;}
    .my-main-container {
        margin-top: 0%;
        margin-left: -1%;
        margin-right: 0%;
    }
    .my-menu-container {
        margin-top: 0%;
        margin-left: -5.5%;
        margin-right: -11%;
    }
</style>



<!-- "Навигационная" панель -->
<nav class="navbar navbar-dark navbar-expand-md text-white text-bg-dark py-3">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center"><span>
            <b><a th:text="${auth_user.email}+' '"/></b>
            <a>&nbsp;with roles:&nbsp;</a>
            <a th:text="${auth_user.getRoles()}"></a>                           <!-- Роли без скобок [] -->
            </span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2"></button>
        <div id="navcol-2" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Разметка страницы -->
<div class="container-fluid">
    <div class="row">

        <!-- Колонка меню -->
        <div class="col-md-2">
            <br>
            <!-- Кнопки меню -->
            <div class="d-grid gap-2 my-menu-container">
                <div class="nav nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active text-start" id="admin-tab" data-bs-toggle="pill" data-bs-target="#admin" type="button" role="tab" aria-controls="admin" aria-selected="true">Admin</button>
                    <button class="nav-link text-start" id="user-tab" data-bs-toggle="pill" data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="false">User</button>
                </div>
            </div>
        </div>

        <!-- Колонка с данными -->
        <div class="col-md-10">
            <!-- Заливка светло-серым -->
            <div class="text-bg-light p-3">
            <!-- Контент по Tabs -->
            <div class="tab-content" id="v-pills-tabContent">
                <!-- Контент по кнопке Admin -->
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab" tabindex="0">
                    <h1>Admin panel</h1>
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" id="tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="users-table" data-bs-toggle="tab" data-bs-target="#users-table-pane" type="button" role="tab" aria-controls="users-table-pane" aria-selected="true">Users table</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="new-user" data-bs-toggle="tab" data-bs-target="#new-user-pane" type="button" role="tab" aria-controls="new-user-pane" aria-selected="false">New user</button>
                        </li>
                    </ul>
                    <!-- Tabs content -->
                    <div class="tab-content" id="TabContent">
                        <!-- Users table -->
                        <div class="tab-pane fade show active" id="users-table-pane" role="tabpanel" aria-labelledby="users-table" tabindex="0">
                            <div class="tab-content" id="allUsersTabContent">
                                <!-- Таблица для тела вкладки -->
                                <div class="container-fluid my-main-container">
                                <table class="table table-bordered">
                                    <thead>
                                    <th scope="col"><div class="container-fluid"><h5>All users</h5></div></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="table table-striped">
                                            <!-- Таблица юзеров -->
                                            <div class="container">
                                                <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user: ${showAllUsers}">
                                                    <td th:text="${user.getId()}"/>
                                                    <td th:text="${user.getUsername()}"/>
                                                    <td th:text="${user.getEmail()}"/>
                                                    <td th:text="${user.getRoles()}"/>

                                                    <!-- Кнопка Edit -->
                                                    <div class="container mt-3">
                                                        <td>
                                                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                                    th:data-bs-target="${'#editModal'+user.id}">
                                                            Edit
                                                            </button>
                                                            <!-- Edit User Modal -->
                                                            <div class="modal fade" th:id="${'editModal'+user.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="editModalLabel">Edit user</h4>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                        </div>
                                                                        <!-- Modal body -->
                                                                        <div class="modal-body text-center">
                                                                            <div class="form-group required">
                                                                                <div class="controls">

<!--                                                                                                                        -->
                                                                                    <label><strong>ID</strong></label>
                                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.id}" th:name="id" disabled/>
                                                                                    <br>
                                                                                    <label><strong>Username</strong></label>
                                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.username}" th:name="username"/>
                                                                                    <br>
                                                                                    <label><strong>Password</strong></label>
                                                                                    <input type="password" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.password}" th:name="password"/>
                                                                                    <br>
                                                                                    <label><strong>Email</strong></label>
                                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.email}" th:name="email"/>
                                                                                    <br>
                                                                                    <label class="col-sm-2 col-form-label"><strong>Role</strong></label>
                                                                                    <select class="form-select" size="2" multiple aria-label="multiple select"
                                                                                            th:name="roles"
                                                                                            style="max-width: 200px; margin: 0 auto">
                                                                                        <option th:each="role : ${rolesList}"
                                                                                                th:text="${role.name.toString().replaceAll('ROLE_', '')}"
                                                                                                th:value="${role.id}">
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                                </div>
                                                                        </div>
                                                                        </form>
                                                                        <!-- Modal footer -->
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </td>

                                                    <!-- Кнопка Delete -->
                                                        <td>
                                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                                    th:data-bs-target="${'#deleteModal'+user.id}">
                                                                Delete
                                                            </button>
                                                            <div class="modal fade" th:id="${'deleteModal'+user.id}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <!-- Modal Header -->
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="deleteModalLabel">Edit user</h4>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                        </div>
                                                                        <!-- Modal body  -->            <!-- Юзер не удаляется  -->
                                                                        <div class="modal-body">
                                                                            <div align="center">
                                                                                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                                                                                    <label><strong>ID</strong></label>
                                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.id}" th:name="id" disabled/>
                                                                                    <br>
                                                                                    <label><strong>Username</strong></label>
                                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.username}" th:name="username" disabled/>
                                                                                    <br>
                                                                                    <label><strong>Password</strong></label>
                                                                                    <input type="password" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.password}" th:name="password" disabled/>
                                                                                    <br>
                                                                                    <label><strong>Email</strong></label>
                                                                                    <input type="text" class="form-control form-control-sm" style="max-width: 200px; margin: 0 auto"
                                                                                           th:value="${user.email}" th:name="email" disabled/>
                                                                                    <br>
                                                                                    <label class="col-sm-2 col-form-label"><strong>Role</strong></label>
                                                                                    <select class="form-select" size="2" multiple aria-label="multiple select example"
                                                                                            th:name="roles"
                                                                                            style="max-width: 200px; margin: 0 auto" disabled>
                                                                                       <option th:each="role : ${rolesList}"
                                                                                                th:text="${role.name.toString().replaceAll('ROLE_', '')}"
                                                                                                th:value="${role.id}">
                                                                                        </option>
                                                                                    </select>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                        <!-- Modal footer -->
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                            <!-- Таблица юзеров ^ -->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>

                        <!-- New user -->
                        <div class="tab-pane fade show" id="new-user-pane" role="tabpanel" aria-labelledby="new-user" tabindex="0">
                            <div class="tab-content" id="newUserTabContent">
                                <!-- "Таблица" для всей информации -->
                                <div class="container-fluid my-main-container">
                                    <table class="table table-bordered">                    <!-- Добавить верхнюю границу -->
                                        <thead>
                                        <th scope="col"><div class="container-fluid"><h5>Add new user</h5></div></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="table table-bordered">
                                                <div class="container-fluid">
                                                    <div align="center">
                                                    <form th:action="@{/admin/new}" th:object="${user}" th:method="POST">
                                                        <label><strong>Username</strong></label>
                                                        <input type="text" class="form-control form-control-sm" placeholder="2-30 characters" style="max-width: 300px; margin: 0 auto"
                                                               name="username" required/>
                                                        <br>
                                                        <label><strong>Email</strong></label>
                                                        <input type="text" class="form-control form-control-sm" placeholder="Example: name@gmail.com" style="max-width: 300px; margin: 0 auto"
                                                               name="email" required/>
                                                        <br>
                                                        <label><strong>Password</strong></label>
                                                        <input type="password" class="form-control form-control-sm" placeholder="Min 8 characters" style="max-width: 300px; margin: 0 auto"
                                                               name="password" required/>
                                                        <br>
                                                        <label class="col-sm-2 col-form-label"><strong>Role</strong></label>
                                                        <select class="form-select" size="2" multiple aria-label="multiple select example"
                                                                style="max-width: 300px; margin: 0 auto">
                                                            <option th:each="role : ${rolesList}"
                                                                    th:text="${role.name.toString().replaceAll('ROLE_', '')}"
                                                                    th:value="${role.id}">
                                                            </option>
                                                        </select>
                                                        <br>
                                                        <input type="submit" class="btn btn-success" value="Add new user"/>
                                                    </form>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <!-- Контент по кнопке User -->
                <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
                    <h1>User information-page</h1>
                    <!-- Таблица для тела вкладки -->
                    <div class="container-fluid my-main-container">
                        <table class="table table-bordered">
                            <thead>
                            <th scope="col"><div class="container-fluid"><h5>About user</h5></div></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table table-bordered">
                                    <!-- Таблица пользователя -->                               <!-- Убрать границы -->
                                    <div class="container">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td th:text="${auth_user.getId()}"/>
                                                <td th:text="${auth_user.getUsername()}"/>
                                                <td th:text="${auth_user.getEmail()}"/>
                                                <td th:text="${auth_user.getRoles()}"/>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</div>
</body>
</html>
