<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Spring Security Example</title></head>
<body>
<h1>Admin, welcome spring boot security page!</h1>
<div align="right">
    <p><a href="/logout" class="btn btn-outline-secondary btn-sm">Logout</a></p>
</div>
<br>
<form method="GET" action="user">
    <input type="submit" value="Your profile"/>
</form>
<div align="center">
<br>
<br>
<h4>All Users Control Pane</h4>
    <table class="table table-bordered"
        style="max-width: 700px; margin: 0 auto">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="show: ${showAllUsers}">
            <td th:text="${show.getId()}"/>
            <td th:text="${show.getUsername()}"/>
            <td th:text="${show.getEmail()}"/>
            <td th:text="${show.getRoles()}"/>
            <td>
                <a th:href="@{/admin/{id}/update(id=${show.getId()})}">Edit</a>
                <a th:href="@{/admin/{id}(id=${show.getId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <h6><a href="/admin/new" class="btn btn-outline-primary">New User</a></h6>
</div>
</body>
</html>