<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Spring Security Example</title>
</head>
<body>
<div align="center">
<b><strong>Something went wrong</strong></b>
<br>
<br>
    <p><a href="/" class="btn btn-outline-secondary btn-sm">Main page</a></p>
    <p><a href="/logout" class="btn btn-outline-secondary btn-sm">Logout</a></p>
</div>
</body>
</html>