<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div align="center">
<h1>Welcome to Index PAGE!</h1>
<br>
<form method="POST" action="user">
    <input type="submit" value="User Service"/>
</form>
<br>
<br>
<form method="POST" action="admin">
    <input type="submit" value="Admin Service"/>
</form>
</div>
</body>
</html>