<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div align="right">
  <p><a href="/admin" class="btn btn-outline-primary btn-sm">Return</a></p>
  <p><a href="/logout" class="btn btn-outline-secondary btn-sm">Logout</a></p>
</div>
<div align="center">
  <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="username" class="col-sm-2 col-form-label">Username</label>
    <input type="text" class="form-control form-control-sm" placeholder="2-30 characters" style="max-width: 400px; margin: 0 auto"
           th:field="*{username}" id="username" required/>
    <p style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
    <br>
    <br>
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <input type="text" class="form-control form-control-sm" placeholder="Min 8 characters" style="max-width: 400px; margin: 0 auto"
           th:field="*{password}" id="password" required/>
    <p style="color:darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
    <br>
    <br>
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <input type="text" class="form-control form-control-sm" placeholder="Example: name@gmail.com" style="max-width: 400px; margin: 0 auto"
           th:field="*{email}" id="email" required/>
    <p style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>
<br>
<br>
  <label>Role:
    <input type="checkbox" th:name="roles"
           th:each="role : ${roles}"
           th:text="${role.name}"
           th:value="${role.id}"
           th:field="*{roles}"
    />
  </label>
    <br>
    <br>
    <input type="submit" class="btn btn-outline-primary" value="Add user"/>
  </form>
</div>
</body>
</html>