<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<div align="right">
<p><a href="/logout">Logout</a></p>
</div>
<br>
<div align="center">
<b>Chosen profile</b>
<p th:text="'Username: '+${show_user.getUsername()}">VALUE</p>
<p th:text="'Email: '+${show_user.getEmail()}">VALUE</p>
<p th:text="'Roles: '+${show_user.getRoles()}">VALUE</p>
    <br>
    <form th:method="DELETE" th:action="@{/admin/{username}/delete(username=${show_user.getUsername()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>