<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update User</title>
<body>
<div align="right">
    <p><a href="/admin" class="btn btn-outline-primary btn-sm">Return</a></p>
    <p><a href="/logout" class="btn btn-outline-secondary btn-sm">Logout</a></p>
</div>
<div align="center">
    <form th:method="PATCH" th:action="@{/admin/{id}/update(id=${user.getId()})}" th:object="${user}">
        <label for="username">Username</label>
        <input type="text" class="form-control form-control-sm" placeholder="2-30 characters" style="max-width: 400px; margin: 0 auto"
               th:field="*{username}" id="username"/>
        <div style="color:darkred" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        <br>
        <br>
        <label for="password">Password</label>
        <input type="text" class="form-control form-control-sm" placeholder="Min 8 characters" style="max-width: 400px; margin: 0 auto"
               th:field="*{password}" id="password"/>
        <div style="color:darkred" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br>
        <br>
        <label for="email">Email</label>
        <input type="text" class="form-control form-control-sm" placeholder="Example: name@gmail.com" style="max-width: 400px; margin: 0 auto"
               th:field="*{email}" id="email"/>
        <div style="color:darkred" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        <br>
        <br>
        <label>Role:
            <input type="checkbox" th:name="rolesList"
                   th:each="role : ${rolesList}"
                   th:text="${role.name.toString()}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
        <br>
        <br>
        <input type="submit" class="btn btn-outline-primary" value="Update user"/>
    </form>
    </head>
</div>
</body>
</html>